<header>
    <div class="level is-mobile mb-0">
        <div class="level-left">
            <div class="level-item is-size-3-mobile is-size-2 roboto-black"><a href="/" style="color:#111;">{{ site.name }}</a></div>   
        </div>
        <div class="level-right is-mobile is-flex-direction-row">
            <div class="level-item mr-1">
                <a style="color:#111;text-decoration:none;" href="/family-video">Family Video |</a>  
            </div>
            <div class="level-item mr-5">
                <a href="/"><i class="fa-brands fa-galactic-republic" style="color:#111;"></i></a>  
            </div>
        </div>
    </div>

    <div class="level mb-4 is-flex-wrap-wrap">
    
            <div class="level-item roboto-mono-300 is-flex-wrap-wrap is-flex-shrink-1 is-size-7">"You will never find a more wretched hive of scum and villainy. We must be cautious"</div>
        
    </div>
</header>